#Tabs {
    overflow-x: auto;
    background-color: blanchedalmond;
    border: 7px;
    border-color: snow;
    border-style: solid;
    text-align: center;
    font-size: 400%;
    display: bottom inline-flex;
}

#home {
    text-align: center;
    align-items: center;
    overflow: auto
}

#tabbies {
    text-align: left;
    display: bottom inline-flex;
}

.icons:hover {
    display: block;
    border: 5pt dotted pink;
    background-color: pink
}

.icons:active {
    background-color: pink;
}

.icons:focus {
    background-color: peachpuff;
}

#newslayout {
    overflow: auto;
    text-align: center;
    font-size: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

#iframeBook {
    overflow: auto;
    border: 8px solid peachpuff;
}

#shopping {
    overflow-x: auto;
    text-align: center;
    align-content: center;
}

#popUp {
    display: none;
    left: 100;
    top: 100;
    z-index: 1;
    width: 100%;
    height: 5%;
    padding-top: 20px;
    position: fixed;
    overflow: auto;
    background-color: aliceblue;
    opacity: 85%;
    text-align: center;
    text-size-adjust: 100%;

}

#register {
    overflow-x: auto;
    text-align: center;
    align-content: center;
}

#logIn {
    overflow-x: auto;
    text-align: center;
    align-content: center;
}

#layoutProduct {
    display: inline;
    text-align: center;
    align-items: center;
}

#layoutProduct td {
    overflow-x: auto;
    align-items: center;
    text-align: center;
    font-size: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    border: 10px dotted snow
}

#layoutProduct tr:hover {
    background-color: peachpuff;
}

#layoutProduct td {
    overflow-x: auto;
    align-items: center;
    text-align: center;
}

#info {
    display: inline;
    font-size: 120%;
    overflow-x: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#logStatus {
    font-size: 100%;
    font-family: monospace;
    text-align: right;
}